client/src/webservices/CustomerCareService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CustomerCareServiceService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/tcf/customer-care" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/tcf/customer-care" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/tcf/customer-care" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/tcf/customer-care">
  <xs:element name="listAllRecipes" type="tns:listAllRecipes"/>
  <xs:element name="listAllRecipesResponse" type="tns:listAllRecipesResponse"/>
  <xs:element name="register" type="tns:register"/>
  <xs:element name="registerResponse" type="tns:registerResponse"/>
  <xs:element name="track" type="tns:track"/>
  <xs:element name="trackResponse" type="tns:trackResponse"/>
  <xs:complexType name="track">
    <xs:sequence>
      <xs:element minOccurs="0" name="order_id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trackResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="status" type="tns:orderStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listAllRecipes">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="listAllRecipesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="recipes" type="tns:cookies"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="register">
    <xs:sequence>
      <xs:element minOccurs="0" name="customer_name" type="xs:string"/>
      <xs:element minOccurs="0" name="credit_card_number" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:simpleType name="orderStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREATED"/>
      <xs:enumeration value="VALIDATED"/>
      <xs:enumeration value="IN_PROGRESS"/>
      <xs:enumeration value="READY"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cookies">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CHOCOLALALA"/>
      <xs:enumeration value="DARK_TEMPTATION"/>
      <xs:enumeration value="SOO_CHOCOLATE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UnknownOrderId" type="tns:UnknownOrderId"/>
  <xs:complexType name="UnknownOrderId">
    <xs:sequence>
      <xs:element name="orderId" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlreadyExistingCustomerException" type="tns:AlreadyExistingCustomerException"/>
  <xs:complexType name="AlreadyExistingCustomerException">
    <xs:sequence>
      <xs:element name="conflictingName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="trackResponse">
    <wsdl:part name="parameters" element="tns:trackResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownOrderId">
    <wsdl:part name="UnknownOrderId" element="tns:UnknownOrderId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="track">
    <wsdl:part name="parameters" element="tns:track">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listAllRecipes">
    <wsdl:part name="parameters" element="tns:listAllRecipes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="register">
    <wsdl:part name="parameters" element="tns:register">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AlreadyExistingCustomerException">
    <wsdl:part name="AlreadyExistingCustomerException" element="tns:AlreadyExistingCustomerException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listAllRecipesResponse">
    <wsdl:part name="parameters" element="tns:listAllRecipesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerResponse">
    <wsdl:part name="parameters" element="tns:registerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerCareService">
    <wsdl:operation name="track">
      <wsdl:input name="track" message="tns:track">
    </wsdl:input>
      <wsdl:output name="trackResponse" message="tns:trackResponse">
    </wsdl:output>
      <wsdl:fault name="UnknownOrderId" message="tns:UnknownOrderId">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listAllRecipes">
      <wsdl:input name="listAllRecipes" message="tns:listAllRecipes">
    </wsdl:input>
      <wsdl:output name="listAllRecipesResponse" message="tns:listAllRecipesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input name="register" message="tns:register">
    </wsdl:input>
      <wsdl:output name="registerResponse" message="tns:registerResponse">
    </wsdl:output>
      <wsdl:fault name="AlreadyExistingCustomerException" message="tns:AlreadyExistingCustomerException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerCareServiceServiceSoapBinding" type="tns:CustomerCareService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="track">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="track">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="trackResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownOrderId">
        <soap:fault name="UnknownOrderId" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listAllRecipes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listAllRecipes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listAllRecipesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="register">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AlreadyExistingCustomerException">
        <soap:fault name="AlreadyExistingCustomerException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerCareServiceService">
    <wsdl:port name="CustomerCareServicePort" binding="tns:CustomerCareServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/CustomerCareServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
